# Compiled Java class files
# Ignore compiled Java class files
bin/
out/
target/
*.class

# Ignore local game saves and player logs
players.txt
saves/
*.txt

# IDE / OS files
.vscode/
*.DS_Store
Thumbs.db
